.upserv-wrap .vcs {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: flex-start;
    gap: 1em;
    height: 100%;
    margin-top: 2em;
}

.upserv-wrap .item.template {
    max-width: 100px;
    text-align: center;
}

.upserv-wrap .vcs .item.template .placeholder {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    min-height: 60px;
    font-weight: bold;
    gap: 1em;
}

.upserv-wrap .vcs .item.template .placeholder span.icon {
    font-size: 2em;
    line-height: 1em;
}

.upserv-wrap .vcs .item {
    background: #fff;
    padding: 1em 2em;
    border-radius: 0.75em;
    box-shadow: inset 0px 0px 0px 1px transparent, rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.upserv-wrap .vcs .item:hover,
.upserv-wrap .vcs .item:focus,
.upserv-wrap .vcs .item:active,
.upserv-wrap .vcs .item.selected {
    box-shadow: inset 0px 0px 0px 1px #2271b1, rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.upserv-wrap .vcs .item .service span:not(.hidden) {
    font-size: 1.5em;
    display: flex;
    align-items: baseline;
    gap: 0.33em;
    margin-bottom: 0.5em;
    font-weight: bold;
    justify-content: flex-start;
}

.upserv-wrap .vcs .item.selected .service span:not(.hidden) {
    color: #2271b1;
}

.upserv-wrap .vcs .item:not(.template) {
    line-height: 1.5em;
    padding: 1em 1em 0.5em;
    min-width: 100px;
    max-width: 170px;
}

.upserv-wrap .vcs .item code {
    word-break: break-all;
    white-space: initial;
    display: flex;
    margin: 0 0 0.5em 0;
    gap: 0.75em;
    padding-left: 0.75em;
    align-items: baseline;
}

.upserv-wrap .vcs .item code i {
    min-width: 1.25em;
    text-align: center;
}

.upserv-wrap .package-source.form-container {
    padding: 0 2em 1em 2em;
    margin: 1em 0;
    background: #fff;
    border-radius: 0.5em;
    max-width: 1400px;
    border: 1px solid #c3c4c7;
}

.upserv-wrap .button.remove {
    color: #d63638;
    border-color: #d63638;
}